<div class="row my-4">
    <div class="col-md-6">
        <h3>Liste des Taches</h3>
    </div>
    <div class="col-md-6" text-right>
        <button (click)="showForm = ! showForm" class="btn btn-dark btn-sm">
            <i class="fa fa-plus" aria-hidden="true"></i>Nouveau Tache
        </button>
    </div>
</div>
<div class="row my-2" *ngIf="showForm">
    <div class="col-md-6 mx auto">
        <div class="form-group">
            <label for="label">Name Of Tache</label>
            <input  [(ngModel)]="myTask.label" id="label" type="text" class="form-control">
        </div> 
   
    <div class="form-check">
      <label class="form-check-label">
        <input [(ngModel)]="myTask.completed" type="checkbox" class="form-check-input"  >
        completed
      </label>
    </div>
 <!-- {{myTask | json}} -->
    <button *ngIf="editForm" (click)="updateTache()" class="btn btn-warning btn-block">
        <i class="fa fa-refresh"></i>
        update Tache</button>
        <button *ngIf="!editForm" (click)="persistTache()" class="btn btn-success btn-block">
            <i class="fa fa-send"></i>
            Nouveau Tache</button>
</div>

</div>
<div class="row">
    <div class="col-md-6 mx-auto">
      <ul class="list-group">
        
        <input (keyup)="rechercherTache()" [(ngModel)]="searshText" type="text" placeholder="Searsh ..."  class="form-control">
        <li *ngFor="let task of resultTasks" class="list-group-item d-flex justify-content-between align-items-center">

            <button (click)="editTache(task)" class="btn btn-warning btn-sm">
                <i class="fa fa-pencil"></i>
            </button>
            {{task.label}}
            <span (click)="toggelCompletd(task)" [ngClass]="{
            'badge-info':task.completed,
             'badge-danger':!task.completed
            }" class="badge badge-danger badge-pill">
            <i class="fa" [ngClass]="{
                'fa-thumbs-up': task.completed,
               'fa fa-thumbs-down' : !task.completed
            }">

            </i>    
            </span>
            <button (click)="supprimerTache(task.id)" class="btn btn-dark btn-sm">
                <i class="fa fa-trash"></i>
            </button>
        </li>
        
      </ul>
    </div>
</div>